h1, h2, h4, p {
  padding: 10px;
}

p {
  color: black;
  font-size: 14px;
}

td {
  color: black;
  font-size: 12px;
}

.container-middle {
  background-image: url("images/stack-of-books.jpg");
  background-size: cover;
  opacity: 50;
}

.footer {
  background-color: #B9CAC4;
}

.jumbotron {
  background-color: #B9CAC4;
  padding: 20px;
}

.table {
  table-layout: fixed;
  width: 100%
}

.panel-default {
  margin: 15px;
}

.left-pad {
  padding-left: 30px;
  padding-right: 30px;
}

.image-thumbnail {
  height: 50px;
  width: 50px;
}

.transparent {
  background-color: rgba(255, 255, 255, 0.65);
}

.btn-xs, .btn-group-xs>.btn {
  font-size: 9px;
}

.container {
  padding: 5px;
}

.container-bottom {
  padding:5px;
  display: flex;
  justify-content: center;
}

.glyphicon {
  padding: 3px;
}
